* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    opacity: 0.7;
    background-color: transparent;
    padding-bottom: 16px;
    z-index: 100;
    /* Diğer menü öğelerinden üstte olmasını sağlar */
}

.navbar a {
    text-decoration: none;
    padding-top: 50px;
    margin-left: 10px;
    font-size: large;
    color: rgb(255, 0, 0);
}

.navbar a:hover {
    color: white;
    transition: 0.6s;
}

.navbar a:hover i {
    transform: translateX(-5px);
    transition: transform 0.8s;
}

.navbar a i {
    margin-right: 5px;
}

.menu {
    padding-top: 60px;
    z-index: 99;
}

.menu a {
    margin-right: 10px;
}

.menu a:hover {
    transform: translateX(-5px);
}

.menu a:hover i {
    transform: translateX(-5px);
    transition: transform 0.8s;
}

.menu a i {
    margin-right: 5px;
}

.kahramanmaras {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

body {
    overflow-x: hidden;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
}

.hakkimda {
    margin-top: 100px;
    margin-left: 180px;
}

.hakkimda h3 {
    font-weight: 300;
    font-style: oblique;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    padding-inline: 5px;
}

.footer {
    padding-top: 30px;
    padding-left: 18px;
    color: bisque;
    height: 100px;
    background-color: rgb(26, 26, 26);
}

.hobi {
    margin-top: 20px;
    background-color: grey;
    border: 3px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.cv {
    padding: 2px 5px;
    margin-left: 70px;
    color: bisque;
    display: inline-block;
    background-color: rgb(26, 26, 26);
}

.cv a {
    text-decoration: none;
    color: bisque;
}

.cv a:hover {
    color: rgb(255, 0, 0);
}

.footer a {
    margin-right: 15px;
    color: bisque;
    text-decoration: none;
}

.footer a:hover {
    color: blueviolet;
}

.sag {
    float: right;
    padding-right: 20px;
}

.slider {
    margin-top: 40px;
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}

.slider-content {
    position: absolute;
    width: 500%;
    left: 0;
    animation: slide 20s infinite;
}

.slider-content:hover {
    animation-play-state: paused;
}

.slider-item {
    width: 20%;
    float: left;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-800px);
    }

    20% {
        transform: translateX(-800px);
    }

    30% {
        transform: translateX(-1600px);
    }

    40% {
        transform: translateX(-1600px);
    }

    50% {
        transform: translateX(-2400px);
    }

    60% {
        transform: translateX(-2400px);
    }

    70% {
        transform: translateX(-3200px);
    }

    80% {
        transform: translateX(-3200px);
    }

    90% {
        transform: translateX(0px);
    }
}

.bilgi {
    height: 84%;
    color: rgb(215, 215, 215);
    margin: 20px;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px 20px;
    background-color: rgb(85, 99, 142);
}

.miras {
    margin-left: 30px;
}